<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>今日菜单</title>
    <style>
        #left{
            width: 200px;
            height:300px;
            float:left;
        }
        #right{
            width:350px;
            float:left;
        }
    </style>
</head>
<body>
    <form>
        <div id="left">
        <fieldset>
            {{form.radio.label}}
        {{form.radio}}
        </fieldset>
        </div>
        <div id="right">
        <fieldset>
            {{form.selectMultiple.label}}<br>
        {{form.selectMultiple}} <br>

            {{ tt.ip.label }}<br>
            {{ tt.ip }}<br>
            {{ tt.domain_name.label }}<br>
            {{ tt.domain_name }}<br>
            {{ tt.domain_ports.label }}<br>
            {{ tt.domain_ports }}<br>
        </fieldset>
        </div>

    </form>

</body>
</html>