{% extends "OrdingBase.html" %}

{% block myContent %}

    <div class="container ">
        {% for category, message in get_flashed_messages(with_categories=true) %}
           <h5 class="my_flash_{{ category }}">{{ message }}</h5>
        {% endfor %}

        <form action="/ordering" method="post">
            <fieldset >
                <legend >菜单</legend>
                <div id="my_menu" class="my_ordering_container">
                    {% for item, content in menu.items()  %}
                    <div class="my_ordering_item">
                    <input type="checkbox" name="menu" value="{{ item }}" >
                    <label class="my_checkbox_label">{{ content["label"]}}</label>
                    <input type="number" name="{{ item}}"  min="1" max="9" value="1">
                    </div>
                    {% endfor %}
                </div>
            </fieldset>

            <fieldset >
                <legend >订餐人</legend>
                <div id="my_menu" class="my_ordering_container">
                    {% for item in custom  %}
                    <div class="my_ordering_item">
                    <input type="checkbox" name="custom" value="{{ item }}" >
                    <label class="my_checkbox_label">{{ item}}</label>
                    </div>
                    {% endfor %}
                </div>
            </fieldset>

            <p><input type="submit" value="提交订单" class="input-lg"></p>
        </form>



    </div>

{% endblock myContent %}
